@font-face
{
    font-family: "Bold";
    src: url(Ubuntu/Ubuntu-Bold.ttf);
}
@font-face
{
    font-family: "Title";
    src: url(Ubuntu/Ubuntu-Medium.ttf);
}
@font-face
{
    font-family: "All";
    src: url(Ubuntu/Ubuntu-Light.ttf);
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}
/*INDEX.HTML*/
body
{
    font-family: "All";
    /*background: linear-gradient(90deg, rgba(177,173,248,1) 0%, rgba(121,115,231,1) 50%, rgba(63,54,227,1) 100%); */  
    background-image: url(hatterjo.png);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    object-position: center center;
    background-attachment: fixed;
}
header
{
    display: flex; 
}
.title
{
    color:rgba(255,255,255,0.75);
    margin: auto;
}
.title h1
{
    font-family: "Title";
    font-size: 450%;
    margin-top: 70px;
}
.login form
{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    width: 600px;
    height: 400px;
    padding: 50px 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.textBoxdiv
{
    border-bottom: 2px solid white;
    position: relative;
    margin: 35px 0;
}
.textBoxdiv input
{
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: white;
    height: 30px;
    font-size: 20px;
}
.loginButton
{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background: #3f36e3;
    box-shadow: 1px 3px 15px rgba(0,0,0,0.6);
    transition: background 0.3s, font-size 0.3s, cursor 0.3s;
    color: white;
    margin-top: 30px;
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translate(20%, -50%);
    border-radius: 15px;
}
.loginButton:hover
{
    background: rgba(63,54,227,0.5);
    font-size: 105%;
    cursor: pointer;
}
.forgotpw
{
    margin-top: 100px;
    margin-left: 380px;
}
.forgotpw a
{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.forgotpw a:hover
{
    text-decoration: underline;
}
.loginfail
{
    margin-top: 10px;
    margin-left: 305px;
    color: white;
}
/*FOOLDAL.HTML*/
.info
{
    background: rgba(255, 255, 255, 0.3);
    color: white;
    width: 100%;
    float: left;
}
.info li
{
    display: inline-block;
    font-family: "All";
    font-size: 150%;
    padding: 10px 30px;
}
.bal
{
    width: 30%;
    float: left;

}
.jobb
{
    width: 60%;
    text-align: right;
    float: right;
    margin-left: 150px;
}
/*.status
{
    background: rgba(255, 255, 255, 0.3);
    color: white;
    width: 50%;
        float: right;
        padding-left: 25%;
}
.status li
{
    display: inline-block;
    font-family: "All";
    font-size: 150%;
    padding: 10px 30px;
}*/
/*.educoin
{
    /*margin-left: 75%;
}*/
.logout a
{
    text-decoration: none;
    color: white;
    font-size: 100%;
}
.logout
{
    border-left: 1px solid rgba(255,255,255,0.75); 
    transition: background 0.3s, font-size 0.3s, border-radius 0.3s, border-left0.3s;   
}
.logout:hover
{
    background: #534cbd;
    font-size: 152%;
    border-radius: 5px;
    border-left: none;
}
.searchandupload
{
    display: flex;
    /*justify-content: space-between;*/
}
.search
{
    border: 1px solid white;
    position: relative;
    margin: 80px 130px;
    border-radius: 10px;
    width: 30%;

}
.search input
{
    background: none;
    border: none;
    outline: none;
    width: 300px;
    color: white;
    height: 35px;
    font-size: 20px;
    padding-left: 10px;
    float: left;
}
.uploadBtn
{
    height: 50px;
    width: 150px;
    float: right;
    margin-left: 150px;;
    border: none;
    outline: none;
    background: #EE6C4D;
    box-shadow: 1px 3px 15px rgba(0,0,0,0.6);
    transition: background 0.3s, color 0.3s, cursor 0.3s;
    color: white;
    margin-top: 75px;
    border-radius: 15px;
    font-size: 105%;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.uploadBtn:hover
{
    background: rgb(192, 96, 73);
    color: rgba(255,255,255,0.8);
    cursor: pointer;
}
/*SUBJECTS*/
.subjects li
{
    list-style: none;
    text-align: center;
    margin-left: 50px;	
}
.subjects a
{
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 30px;
    height: 250px;
    width: 250px;
    display: block;
    margin: 75px;
    padding: 30px;
    list-style: none;
    margin-bottom: 25px;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    box-shadow: 1px 3px 15px rgba(0,0,0,0.6);
}
.subjects p
{
    text-align: center;
    font-size: 170%;
    margin-top: 75px;
    font-weight: bold;

}
.subjects span
{
    display: block;
    margin-top: 50px; /*visszacsússzon a képre*/
    color: transparent;
    float: left;
    width: 100%;
    padding: 7px;
    transition: background 0.3s, margin-top 0.3s, color 0.3s, border-radius 0.3s;

}
.subjects a:hover span /*galérián belüli olyan a,ami fölé húztam az egere, az azon belüli spanra érvényes*/
{
    margin-top: 1px;
    background: rgba(255,255,255,0.66);
    border-radius: 10px;
    color: #222;
}
.first
{
    background: #707070;
}
.second
{
    background: #4f6d7a;
}
.third
{
    background: #ed8a73;
}
.fourth
{
    background: #d94040;
}
.fifth
{
    background: #9ac0cf;
}
.sixth
{
    background: #bbabab;
}
.cancel a
{
    text-decoration: none;
    color: white;
    font-size: 300%;
    width: 10%;
    padding: 50px 40px;
    transition: font-size 0.3s;
}
.cancel
{  
    float: right; 
    margin-top: 20px;
}
.cancel a:hover
{
    font-size: 350%;
    cursor: pointer;
}
.notestable
{
    width: 75%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
    background: rgba(95, 132, 212, 0.5);
}
.notestable thead
{
    border: 1px solid #bbb;
    color: white;
    background: rgba(0,0,0,0.5);
}
.notestable tbody
{
    color: white;
}
.notestable tr
{
    height: 80px;
}
.notestable tbody tr
{
    border-bottom: 1px solid #ddd;
    transition: background 0.3s;
}
.notestable tbody tr:hover
{
    background: rgba(0,0,0,0.3);
    cursor: pointer; /*Mickey egér kéz*/
}
.notestable th
{
    font-size: 200%;
}
.notestable td
{
    font-size: 150%;
}
.notestable th,
.notestable td
{
    padding: 10px 15px;
    vertical-align: center; /*a cellák tetejéhez igazódnak a szövegek*/
    text-align: center;
}

.rating
{
    position: relative;
    transform: rotateY(180deg);
    display: flex;
    height: 50px;
    vertical-align: middle;
}
/*.rating input
{
    display: none;
}*/
.rating label
{
    display: block;
    /*cursor: pointer;*/
    width: 50px;
}
.rating label:before
{
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    display: block;
    font-size: 40px;
    /*color: rgba(104, 96, 96, 0.3);*/
}
.rating label:after
{
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 40px;
    /*color: #f8c024;*/
    top: 0;
    /*opacity: 0;
    transition: 0.3s;
    text-shadow: 0 2px 5px rgba(0,0,0,0.5);*/
}
.rating label[for="starFilled"]
{
    color: #f8c024;
    text-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
.rating label[for="starNotFilled"]
{
    color: rgba(104, 96, 96, 0.5);
    text-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
/*.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~  label:after
{
    opacity: 1;
}*/

/*ÉRTÉKELÉS + LETÖLTÉS + FELTÖLTÉS GOMB*/

.ratingbtn,
.downloadbtn,
.uploadbtn,
.deletebtn
{
    text-decoration: none;
    padding: 10px 10px;
    font-size: 102%;
    border-radius: 10px;
    border: 2px;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    transition: 0.3s;
}
.ratingbtn
{
    background: #d69e03;
}
.downloadbtn
{
    background: #459e42; 
}
.deletebtn
{
    background: rgb(197, 49, 49);
}
.ratingbtn:hover
{ 
    background: #ffbb00;
    font-size: 104%;
    cursor: pointer;
}
.downloadbtn:hover
{
    background: #50B84C;
    font-size: 104%;
    cursor: pointer;
}
.deletebtn:hover
{ 
    background: rgb(241, 38, 38);
    font-size: 104%;
    cursor: pointer;
}
.uploadbtn
{
    background: #db6446;
    font-size: 120%;
    letter-spacing: 3px;
    font-weight: bold;
    padding: 15px 10px;
    margin-top: 60px;
    /*position: absolute;
    left: 1250px;
    top: 50px;*/
}
.uploadbtn:hover
{
    background: #EE6C4D;
    font-size: 130%;
    cursor: pointer;
}
.uploaddiv
{
    width: 95%;
    text-align: center;
}

/*ÉRTÉKELÉS + LETÖLTÉS + FELTÖLTÉS GOMB VÉGE*/

.notesh3 h3
{
    color: rgba(255,255,255, 0.85);
    font-size: 400%;
    font-family: "Bold";
}
.notesh3
{
    width: 100%;
    text-align: center;
    padding-top: 100px;
    letter-spacing: 15px;
}

/*POPUP ABLAK*/
#popuprating
{
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: white;
    border-radius: 10px;
    width: 450px;
    padding: 80px 50px 50px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.08);
    transition: 0.3s;
    visibility: hidden;
}
#popuprating.active
{
    visibility: visible;
    top: 50%;
}
#popuprating .content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#popuprating .content img
{
    max-width: 80px;
}
#popuprating .content h2
{
    font-size: 24px;
    font-weight: 500;
    color: rgb(87, 84, 84);
    margin: 20px 0 10px;
}
#popuprating .content p
{
    text-align: center;
    font-size: 16px;
    color: rgb(138, 133, 133);
    margin-bottom: 10px;
}
#popuprating .content .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#popuprating .content .inputBox input
{
    width: 100%;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 15px;
    font-size: 18px;
}
#popuprating .content .inputBox input[type="submit"]
{
    max-width: 150px;
    background: #eeb51a;
    color: #fff;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    border-radius: 3px;
}
.close
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}
.close img
{
    max-height: 30px;
    max-width: 30px;
}
.close img:hover
{
    max-height: 35px;
    max-width: 35px;
}
/*INTERAKTÍV CSILLAGOK*/
.ratinginteractive
{
    position: relative;
    transform: rotateY(180deg);
    display: flex;
    height: 50px;
    vertical-align: middle;
}
.ratinginteractive input
{
    display: none;
}
.ratinginteractive label
{
    display: block;
    cursor: pointer;
    width: 50px;
}
.ratinginteractive label:before
{
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    display: block;
    font-size: 40px;
    color: rgba(104, 96, 96, 0.3);
}
.ratinginteractive label:after
{
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 40px;
    color: #f8c024;
    top: 0;
    opacity: 0;
    transition: 0.3s;
    text-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
.ratinginteractive label:hover:after,
.ratinginteractive label:hover ~ label:after,
.ratinginteractive input:checked ~  label:after
{
    opacity: 1;
}

/*ÉRTÉKELÉS POPUP SIKER*/
#popupratingsuccess
{
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: white;
    border-radius: 10px;
    width: 450px;
    padding: 80px 50px 50px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.08);
    transition: 0.3s;
    visibility: hidden;
}
#popupratingsuccess.active
{
    visibility: visible;
    top: 50%;
}
#popupratingsuccess .content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#popupratingsuccess .content img
{
    max-width: 80px;
}
#popupratingsuccess .content h3
{
    font-size: 20px;
    font-weight: 500;
    color: rgb(87, 84, 84);
    margin: 20px 0 10px;
}
#popupratingsuccess .content .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#popupratingsuccess .content .inputBox input
{
    width: 100%;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 15px;
    font-size: 18px;
}
#popupratingsuccess .content .inputBox input[type="submit"]
{
    max-width: 150px;
    background: #50b84c;
    color: #fff;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
}
/*FELTÖLTÉS POPUP*/
#popupupload
{
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: white;
    border-radius: 10px;
    width: 450px;
    padding: 80px 50px 50px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.08);
    transition: 0.3s;
    visibility: hidden;
}
#popupupload.active
{
    visibility: visible;
    top: 50%;
}
#popupupload .content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

#popupupload .content p
{
    text-align: center;
    font-size: 18px;
    color: rgb(138, 133, 133);
    margin-bottom: 10px;
}
#popupupload .content .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
#popupupload .content .inputBox input
{
    width: 100%;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 10px;
    font-size: 14px;
}
#popupupload .content .inputBox input[type="file"]
{
    display: block;
    margin: auto;
    max-width: 65%;
    background: #6465ea;
    color: #fff;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    border-radius: 3px;
    cursor: pointer;
}
#popupupload .content .inputBox input[type="submit"]
{
    max-width: 100%;
    background: #50b84c;
    color: #fff;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    border-radius: 3px;
}
.closeupload
{
    position: absolute;
    left: 350px;
    top: -50px;
    cursor: pointer;
}
.closeupload img
{
    max-height: 20px;
    max-width: 20px;
}
.closeupload img:hover
{
    max-height: 25px;
    max-width: 25px;
}
/*FELTÖLTÉS POPUP SIKER*/
#popupuploadsuccess
{
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: white;
    border-radius: 10px;
    width: 450px;
    padding: 80px 50px 50px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.08);
    transition: 0.3s;
    visibility: hidden;
}
#popupuploadsuccess.active
{
    visibility: visible;
    top: 50%;
}
#popupuploadsuccess .content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#popupuploadsuccess .content img
{
    max-width: 80px;
}
#popupuploadsuccess .content h3
{
    font-size: 20px;
    font-weight: 500;
    color: rgb(87, 84, 84);
    margin: 20px 0 10px;
}
#popupuploadsuccess .content .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#popupuploadsuccess .content .inputBox input
{
    width: 100%;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 15px;
    font-size: 18px;
}
#popupuploadsuccess .content .inputBox input[type="submit"]
{
    max-width: 150px;
    background: #50b84c;
    color: #fff;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
}
/*LETÖLTÉS POPUP SIKER*/
#popupdownloadsuccess
{
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: white;
    border-radius: 10px;
    width: 450px;
    padding: 80px 50px 50px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.08);
    transition: 0.3s;
    visibility: hidden;
}
#popupdownloadsuccess.active
{
    visibility: visible;
    top: 50%;
}
#popupdownloadsuccess .content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#popupdownloadsuccess .content img
{
    max-width: 80px;
}
#popupdownloadsuccess .content h3
{
    font-size: 20px;
    font-weight: 500;
    color: rgb(87, 84, 84);
    margin: 20px 0 10px;
}
#popupdownloadsuccess .content .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#popupdownloadsuccess .content .inputBox input
{
    width: 100%;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 15px;
    font-size: 18px;
}
#popupdownloadsuccess .content .inputBox input[type="submit"]
{
    max-width: 150px;
    background: #50b84c;
    color: #fff;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
}
/*TÖRLÉS MEGERŐSÍTÉS POPUP*/
#popupdeleteconfirm
{
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: white;
    border-radius: 10px;
    width: 450px;
    padding: 80px 50px 50px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.08);
    transition: 0.3s;
    visibility: hidden;
}
#popupdeleteconfirm.active
{
    visibility: visible;
    top: 50%;
}
#popupdeleteconfirm .content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#popupdeleteconfirm .content img
{
    max-width: 80px;
}
#popupdeleteconfirm .content h3
{
    font-size: 20px;
    font-weight: 500;
    color: rgb(87, 84, 84);
    margin: 20px 0 10px;
}
#popupdeleteconfirm .content .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#popupdeleteconfirm .content .inputBox input
{
    width: 100%;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 15px;
    font-size: 18px;
}
#popupdeleteconfirm .content .inputBox input[type="submit"]
{
    max-width: 150px;
    background: #50b84c;
    color: #fff;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0.3s;
}
#popupdeleteconfirm .content .inputBox input[type="button"]
{
    max-width: 150px;
    background: rgb(197, 49, 49);
    color: #fff;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0.3s;
}
#popupdeleteconfirm .content .inputBox input[type="submit"]:hover,
#popupdeleteconfirm .content .inputBox input[type="button"]:hover
{
    letter-spacing: 4px;
}
/*shop menü*/
.heading
{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}
.heading nav 
{
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 95%;
}
.heading nav ul
{
    margin: 0;
    padding:0;
    list-style:none; /*ne legyenek gömbök*/
    text-align: center;
}
.heading nav li
{
    display: inline-block; /*egymás mellé kerüljenek a felsorolás elemei*/
}
.heading nav a
{
    padding-left: 100px;
    font-weight:bold;
    padding-right: 100px;
}

.heading nav a,
.heading .educoin	/*csak a navon belüli linkek lesznek */
{
    font-size: 150%;
    display: block; /*ezzel lesz belső margója*/
    text-decoration: none; /*ne legyen aláhúzva*/
    text-transform: uppercase; /*nagybetűs*/
    padding-top: 25px;
    padding-bottom: 25px;
    color: #fff; /*külön meghatározom a linkek színét*/
    transition: background 0.3s, color 0.3s;/*ha megváltozik a betűszín, vagy háttérszín, akkor az átmenettel történjen*/
}
.heading .educoin
{
    float: right;
    padding-right: 20px;
    padding-left: 20px;
}
.heading nav a:hover
{
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
}
.shopcancel a
{
    text-decoration: none;
    color: white;
    font-size: 300%;
    padding: 50px 40px;
    transition: font-size 0.3s;
}
.shopcancel
{  
    width: 5%;
    margin-top: 15px;
}
.shopcancel a:hover
{
    font-size: 350%;
    cursor: pointer;
}

/*shop menü vége*/


/*Shop képek*/
.gallery
{
    margin: 0;
    margin-left: 100px;
    padding: 0;
    list-style: none;
    margin-bottom: 100px;
}
.gallery li
{
    width: 29%; /*három kép férjen el egymás mellett*/
    float: left; /*eg ysorban legyenek*/
    margin-left: 1%; /*legyen köztük kis hely*/
    margin-right: 1%;
    margin-bottom: 15px;
    height: 350px;
}	
.gallery a
{
    background: transparent;
    padding: 0;
    display: block;
    height: 100%;
    opacity: 0.75;
    transition: opacity 0.3s; /*kép színének átmenete*/
}
.gallery a:hover
{
    opacity: 1;
}
.gallery img
{
    width: 100%;
    height: 100%;
    object-fit: cover; /*méretezze át úgy, hogyteljesen töltse ki a területet*/
    object-position: center center; /*kép közepére konctentráljon minden esetben, ha kilógna a kép*/
    float: left; /*látszódjon a span*/
}

.price
{
    background: none;
    text-decoration: none;
    color: rgba(255,255,255,0.6);
    text-transform: uppercase;
    font-size: 150%;
    display: block;
    float: left;
    padding: 20px;
    width: 100%;
    text-align: center;
    margin-top: -200px;
    transition: 0.3s;
}
.gallery a:hover .price
{
    color: white;
}

.gallery .buy
{
    display: block;
    font-size: 115%;
    margin-top: -70px; /*visszacsússzon a képre*/
    color: transparent;
    float: left;
    width: 100%;
    padding: 25px;
    text-align: center;
    transition: background 0.3s, margin 0.3s, color 0.3s;

}
.gallery a:hover .buy /*galérián belüli olyan a,ami fölé húztam az egere, az azon belüli spanra érvényes*/
{

    margin-top: -80px;
    background: rgba(255,255,255,0.3);
    color: #fff;
}
/*Shop képek vége*/

/*figyelmeztetés*/
.warning
{
    clear: both; /*mindkét oldalról törlöm a lebegtetési hatásokat, mert az aside és a main izéje is hat rá*/
    background: rgba(0,0,0,0.2);
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 13px;
}
/*figyelmeztetés vége*/

@media only screen and (max-width: 1600px)
{
    .jobb
    {
        margin-left: 50px;
    }
}
@media only screen and (max-width: 1350px)
{
    .jobb
    {
        margin: 5px;
        width: 45%;

    }
    .bal
    {
        width: 40%;
    }
}
@media only screen and (max-width: 1000px)
{
    .jobb
    {
        float: none;
        margin: 0;
        width: 100%;
        text-align: center;

    }
    .bal
    {
        width: 100%;
        padding-bottom: 40px;
        text-align: center;
    }
}